@using System.Collections
@using Classes.Model;
@rendermode InteractiveServer

<div id="v2schedule">
    <h2>
        <image src="/images/flags/usaflaground64px.png" style="width:32px;" alt="NA" />
        North America
    </h2>
    <div id="naschedule">
        @foreach(var (run, group) in Groups.GetRegionRunsTimeRange("NA", DateTime.Now.AddHours(-5), DateTime.Now.AddDays(7))){
            var links = group.Links;
            var bosses = run.Bosses;
            <div class="topgradient">
                <span class="time NAtime scheduletimes"> @run.DateTime.ToUniversalTime() UTC</span> - 
                @if(!string.IsNullOrEmpty(group.Logo)){<img src = "@group.Logo" style="width:32px;" alt="@group.Name logo"/>} 
                @group.Name
                @if(group.GuildTag?.Length > 0){<span> [@group.GuildTag]</span>}

                @if(@links.Count() > 0){
                    @foreach(var link in @links){
                        @if(link.Item2 == "discord"){
                            <a class="schedlinks" href="@link.Item1"><img src="/images/Brands/Discord/Discord-Symbol-White.svg" alt="@link.Item1" style="width:20px;" /></a>
                        }
                        @if(link.Item2 == "website"){
                            <a class="schedlinks" href="@link.Item1"><img src="/images/Brands/Web/Web-Logo.png" alt="@link.Item1" style="width:20px;" /></a>
                        }
                        @if(link.Item2 == "twitch"){
                            <a class="schedlinks" href="@link.Item1"><img src="/images/Brands/Twitch/glitch_flat_white.svg" alt="@link.Item1" style="width:20px;" /></a>
                        }
                    }
                }
            </div>
    
            @if(@bosses > 0){
                <div class="botgradient">
                    @if(@bosses.HasFlag(Bosses.DemonKnight)){<span> DK</span>}
                    @if(@bosses.HasFlag(Bosses.DeathWing)){<span> DW</span>}
                    @if(@bosses.HasFlag(Bosses.HellSister)){<span> HS</span>}
                    @if(@bosses.HasFlag(Bosses.Sorrow)){<span> Sor</span>}
                    @if(@bosses.HasFlag(Bosses.Umbriel)){<span> Umb</span>}
                    @if(@bosses.HasFlag(Bosses.Decima)){<span> Dec</span>}
                    @if(@bosses.HasFlag(Bosses.Greer)){<span> Gre</span>}
                    @if(@bosses.HasFlag(Bosses.Ura)){<span> Ura</span>}
                    @if(@bosses.HasFlag(Bosses.VoE)){<span> VoE</span>}
                </div>
            }
        } <!-- end of foreach -->
    </div>
    <h2>
        <image src="/images/flags/euflaground64px.png" style="width:32px;" alt="EU" /> Europe
    </h2>
    <div id="euschedule">

        @foreach(var (run, group) in Groups.GetRegionRunsTimeRange("EU", DateTime.Now.AddHours(-5), DateTime.Now.AddDays(7))){
            var links = group.Links;
            var bosses = run.Bosses;
            <div class = "topgradient">
                <span class="time EUtime scheduletimes"> @run.DateTime.ToUniversalTime() UTC</span> - 
                @group.Name 
                @if(group.GuildTag?.Length > 0){<span> [@group.GuildTag]</span>}
                @if(@links.Count() > 0){
                    @foreach(var (linkRef, linkType) in @links){
                        @if(linkType == "discord"){
                            <a class="schedlinks" href="@linkRef"><img src="/images/Brands/Discord/Discord-Symbol-White.svg" alt="@linkRef" style="width:20px;"/></a>
                        }
                        @if(linkType == "website"){
                            <a class="schedlinks" href="@linkRef"><img src="/images/Brands/Web/Web-Logo.png" alt="@linkRef" style="width:20px;"/></a>
                        }
                        @if(linkType == "twitch"){
                            <a class="schedlinks" href="@linkRef"><img src="/images/Brands/Twitch/glitch_flat_white.svg" alt="@linkRef" style="width:20px;"/></a>
                        }
                    }
                }
            </div>
    
            @if(@bosses > 0){
                <div class="botgradient">
                    @if(@bosses.HasFlag(Bosses.DemonKnight)){<span> DK</span>}
                    @if(@bosses.HasFlag(Bosses.DeathWing)){<span> DW</span>}
                    @if(@bosses.HasFlag(Bosses.HellSister)){<span> HS</span>}
                    @if(@bosses.HasFlag(Bosses.Sorrow)){<span> Sor</span>}
                    @if(@bosses.HasFlag(Bosses.Umbriel)){<span> Umb</span>}
                    @if(@bosses.HasFlag(Bosses.Decima)){<span> Dec</span>}
                    @if(@bosses.HasFlag(Bosses.Greer)){<span> Gre</span>}
                    @if(@bosses.HasFlag(Bosses.Ura)){<span> Ura</span>}
                    @if(@bosses.HasFlag(Bosses.VoE)){<span> VoE</span>}
                </div>
            }
        } <!-- End of EU foreach -->
    </div>
</div> <!-- End of v2 schedule div -->
<script>
    
    var natimes = document.getElementsByClassName("NAtime");
    var prevday = -1;
    for(var time of natimes){
        let d = new Date(time.innerText);
        var day = d.getDate();

        //create a NEW div if we have a new day
        if(day != prevday){
            var newDiv = document.createElement("h3");
            //new div is the day of the week
            newDiv.innerHTML = d.toLocaleDateString([],{
                month:'2-digit',
                day:'2-digit',
                weekday:'long'
            });

            newDiv.className = "time";
            //insert the newdiv before the parent?
            document.getElementById("naschedule").insertBefore(newDiv, time.parentNode);
        }
        
        prevday = day;
        time.innerText =
            d.toLocaleTimeString([], {
                hour:'2-digit',
                minute:'2-digit'
            });
    }
    
</script>

<script>

    var eutimes = document.getElementsByClassName("EUtime");
    var prevday = -1;
    for(var time of eutimes){
        let d = new Date(time.innerText);
        var day = d.getDate();

        //create a NEW div if we have a new day
        if(day != prevday){
            var newDiv = document.createElement("h3");
            //new div is the day of the week
            newDiv.innerHTML = d.toLocaleDateString([],{
                month:'2-digit',
                day:'2-digit',
                weekday:'long'
            });

            newDiv.className = "time";
            //insert the newdiv before the parent?
            document.getElementById("euschedule").insertBefore(newDiv, time.parentNode);
        }

        prevday = day;
        time.innerText =
            d.toLocaleTimeString([], {
                hour:'2-digit',
                minute:'2-digit'
            });
    }

</script>