@using ConvergenceCorpBlazor.Classes.Model.Game; <!-- for GameRegion-->
@using ConvergenceCorpBlazor.Classes.Model; <!-- for PublicTime-->
@inject IJSRuntime JS

@if (gameRegion == GameRegion.Sky || gameRegion == GameRegion.Wild)
{
    @if (TimerSize == "Large")
    {
        <h3>
            <img src=@Assets["/images/" + @imagelinks[(int)gameRegion]] alt="@gameRegion logo" style="width:50px;" />
            Public Convergence Times
        </h3>

        <p>
            Public instances open every 3 hours.
        </p>
        <p>
            Next Public opens at <span class="time localtime">@instanceopentime</span> in
            <span id="@(gameRegion)Timer" class="time"></span>
        </p>
    }
    else if (TimerSize == "Small")
    {
        <div class="PublicTimerContainSmall">
            <img src=@Assets["/images/" + @imagelinks[(int)gameRegion]] alt="@gameRegion logo" style="width:50px;" />
                <div>
                    Open in <span id="@(gameRegion)Timer" class="time"></span>
                </div>
        </div>
    }
}
<script>
    var openTime@(gameRegion);

    function SetCountdownTime@(gameRegion)(){
        openTime@(gameRegion) = 
        new Date(
            Date.UTC(
                @(instanceopentime.Year),
                @(instanceopentime.Month-1),  //months are 0 based for Date.UTC, why????
                @(instanceopentime.Day), 
                @(instanceopentime.Hour), 
                @(instanceopentime.Minute), 
                @(instanceopentime.Second)
            ));
    }

    function ConvertToLocal(){
        var localtimes = document.getElementsByClassName('localtime');
        for(var time of localtimes){
            let newdate = new Date(time.innerText);
            time.innerText = newdate.toLocaleString([], {
                hour:'numeric',
                minute:'2-digit'
            });
        }
    }

    var x = setInterval(function(){
        var distance = openTime@(gameRegion).getTime() - Date.now();
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var second = Math.floor((distance % (1000*60)) / 1000);
        
        var t = document.getElementById("@(gameRegion)Timer");
        if(distance < 0){
            clearInterval(x);
            t.innerHTML = "NOW";
            return;
        }

        t.innerHTML = hours.toString().padStart(2,'0') + ":" + minutes.toString().padStart(2,'0') + ":" + second.toString().padStart(2,'0');
    }, 1000);

</script>

<!-- VoE box, this will get erased when the VoE converge comes out. -->
@if(gameRegion == GameRegion.Magic){
    @if(TimerSize == "Large")
    {
        <h3>
            <img src=@Assets["/images/" + @imagelinks[(int)gameRegion]] alt="@gameRegion logo" style="width:50px;" />
            Public Convergence Times
        </h3>
        <p>The Visions of Eternity convergence is coming in <a href="/voe" class="time">Update 3</a>!</p>
    }
    else
    {
        <div class="PublicTimerContainSmall">
            <img src=@Assets["/images/" + @imagelinks[(int)gameRegion]] alt="@gameRegion logo" style="width:50px;" />
            <div>Coming in <a href="/voe" class="time">Update 3</a>!</div>
        </div>
    }
}
<!-- End of VoE box -->

@code {
    DateTimeOffset instanceopentime = DateTimeOffset.UtcNow + new TimeSpan(4, 0, 0);

    static List<string> imagelinks = [
        "", //none
        "", //tyria
        "", //hot
        "", //pof
        "", //eod
        "SotO/Secrets_of_the_Obscure_logo.png", //soto
        "JW/Janthir_Wilds_logo.png", //jw
        "VoE/VoE_logo_gradient_800.png" //voe
    ];

    [Parameter]
    public String TimerSize { get; set; } = "Large";
    [Parameter]
    public required GameRegion gameRegion { get; set; } = GameRegion.None;

    //After the parameters are received, but before rendering.
    protected override void OnInitialized()
    {
        //get what time the instance opens for the region
        instanceopentime = PublicTime.GetNextAreaTime(gameRegion);
        base.OnInitialized(); //idk if this is needed, but it was here by default.
    }

    //After the Component Renders
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //Invoke SetCountdownTime
            await JS.InvokeVoidAsync("SetCountdownTime"+gameRegion);

            //Invoke the JS function "ConvertToLocal" on the client side.
            await JS.InvokeVoidAsync("ConvertToLocal");
        }
    }
}