@using ConvergenceCorpBlazor.Classes.Model.News;

<h2>News</h2>

<div style="display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap;">
    @for(int i = 0; i < Article.Articles.Count && i < 3; ++i)
    {
        <div style="width:250px;overflow:hidden;border:var(--primary-brand-color) 2px solid; border-radius:10px;">
            <a href="@Article.Articles[i].Link">
                <img src=@Assets[@Article.Articles[i].ImageLink] style="width:100%;object-fit:contain;height:200px;" />
                <div>@Article.Articles[i].Title</div>
                <div>@Article.Articles[i].Author</div>
                <div class="articledates time">@Article.Articles[i].PublishDate</div>
                <p>
                    @Article.Articles[i].Snippet
                </p>
            </a>
        </div>
    }
</div>
<a href="/news">More news -></a>
<script>
    var Dates = document.getElementsByClassName("articledates");
    for(var d of Dates){
        d.innerText = new Date(d.innerText).toLocaleString([], {
            month:'long',
            day:'numeric',
            year:'numeric'
        });
    }
</script>
@code {

}
