<div style="text-align:center;padding-bottom:10px;">
    <h3>
        <image src="/images/JW/Janthir_Wilds_logo.png" alt="jw logo" style="width:50px;"/>
        Janthir Wilds Public Convergence times
    </h3>
    <div >
        <span class="jwtimes time">@DTOs[0]</span>, <span class="jwtimes time">@DTOs[1]</span>,
        <span class="jwtimes time">@DTOs[2]</span>, <span class="jwtimes time">@DTOs[3]</span>,
        <span class="jwtimes time">@DTOs[4]</span>, <span class="jwtimes time">@DTOs[5]</span>,
        <span class="jwtimes time">@DTOs[6]</span>, <span class="jwtimes time">@DTOs[7]</span>
    </div>

    @code {
        static DateTimeOffset now = DateTimeOffset.Now;
        DateTimeOffset[] DTOs =
        [
            new DateTimeOffset(now.Year, now.Month, now.Day, 00, 00, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 03, 00, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 06, 00, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 09, 00, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 12, 00, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 15, 00, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 18, 00, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 21, 00, 00, TimeSpan.Zero)
        ];
    }

    <script>
        var jwtimes = document.getElementsByClassName('jwtimes');
        for(var jt of jwtimes){
            let jwnewdate = new Date(jt.innerText);
            jt.innerText = jwnewdate.toLocaleString([], {
                hour:'numeric',
                minute:'2-digit'
            });
        }
    </script>
</div>