<div style="text-align:center;">
<p>
    <image src="/images/SotO/Secrets_of_the_Obscure_logo.png" alt="soto logo" style="width:50px;"/>
    SotO Public Convergence Times
</p>

<p>
        <span class="sototimes time">@DTOs[0]</span>, <span class="sototimes time">@DTOs[1]</span>,
        <span class="sototimes time">@DTOs[2]</span>, <span class="sototimes time">@DTOs[3]</span>,
        <span class="sototimes time">@DTOs[4]</span>, <span class="sototimes time">@DTOs[5]</span>,
        <span class="sototimes time">@DTOs[6]</span>, <span class="sototimes time">@DTOs[7]</span>
</p>

    @code{
        static DateTimeOffset now = DateTimeOffset.Now;
        DateTimeOffset[] DTOs =
        [
            new DateTimeOffset(now.Year, now.Month, now.Day, 01, 30, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 04, 30, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 07, 30, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 10, 30, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 13, 30, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 16, 30, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 19, 30, 00, TimeSpan.Zero),
            new DateTimeOffset(now.Year, now.Month, now.Day, 22, 30, 00, TimeSpan.Zero)
        ];
    }


<script>
    var sototimes = document.getElementsByClassName('sototimes');
    for(var st of sototimes){
        let sotonewdate = new Date(st.innerText);
        st.innerText = sotonewdate.toLocaleString([], {
            hour:'numeric',
            minute:'2-digit'
        });
    }
</script>
</div>