@rendermode InteractiveServer
<ul>
    <li>
        Monday
        <ul id="NAMonday"></ul>
    </li>
    <li>
        Tuesday
        <ul id="NATuesday"></ul>
    </li>
    <li>
        Wednesday
        <ul id="NAWednesday"></ul>
    </li>
    <li>
        Thursday
        <ul id="NAThursday"></ul>
    </li>
    <li>
        Friday
        <ul id="NAFriday"></ul>
    </li>
    <li>
        Saturday
        <ul id="NASaturday"></ul>
    </li>
    <li>
        Sunday
        <ul id="NASunday"></ul>
    </li>
    <li>
        <span class="NAtime time">@darenstime.ToString("MM/dd/yy H:mm:ss zzz")</span> - DarensWithS - 
        <a href="https://twitch.tv/DarensWithS">twitch.tv/DarensWithS</a>
    </li>
    <li>
        <span class="NAtime time">@ownlytime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Ownly [FUN] - 
        <a href="https://discord.gg/vQ5asNhZYB">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@cctime2.ToString("MM/dd/yy H:mm:ss zzz")</span> - Convergence Corp [CC] - 
        <a href="https://discord.gg/HyVZqAuAQ2">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@darenstime2.ToString("MM/dd/yy H:mm:ss zzz")</span> - DarensWithS - 
        <a href="https://twitch.tv/DarensWithS">twitch.tv/DarensWithS</a>
    </li>
    <li>
        <span class="NAtime time">@lilytime2.ToString("MM/dd/yy H:mm:ss zzz")</span> - Cabaret Velour [LILY] -
        <a href="https://twitch.tv/lilyvelour">twitch.tv/lilyvelour</a> - 
        <a href="https://discord.gg/lilyvelour">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@cofetime1.ToString("MM/dd/yy H:mm:ss zzz")</span> - We Fight Sleep [COFE] -
        <a href="https://discord.gg/tS8D48HFAJ">Discord</a> -
        <a href="https://twitch.tv/softbreadx">twitch.tv/softbreadx</a>
    </li>
    <li>
        <span class="NAtime time">@hellatime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Unfit Heroes Heroing Heroically [UHHH] - Hella Crates
    </li>
    <li>
        <span class="NAtime time">@sastime.ToString("MM/dd/yy H:mm:ss zzz")</span> - The Silverwastes Anonymous [SAS] - 
        <a href="https://twitch.tv/jmdhouse05">twitch.tv/jmdhouse05</a> - 
        <a href="https://discord.gg/sasgw2">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@cofetime2.ToString("MM/dd/yy H:mm:ss zzz")</span> - We Fight Sleep [COFE] -
        <a href="https://discord.gg/tS8D48HFAJ">Discord</a> -
        <a href="https://twitch.tv/softbreadx">twitch.tv/softbreadx</a>
    </li>
    <li>
        <span class="NAtime time">@slpytime.ToString("MM/dd/yy H:mm:ss zzz")</span> - The Sleepiest Warriors [SLPY] - 
        <a href="https://twitch.tv/projektdyad">twitch.tv/projektdyad</a> - 
        <a href="https://projektdyad.com">projektdyad.com</a>
    </li>
    <li>
        <span class="NAtime time">@cctime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Convergence Corp [CC] - 
        <a href="https://discord.gg/HyVZqAuAQ2">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@uL1.ToString("MM/dd/yy H:mm:ss zzz")</span> - Underground Legends [uL] -
        <a href="https://discord.gg/undergroundlegends">Discord</a> -
        <a href="https://undergroundlegends.gg">undergroundlegends.gg</a>
    </li>
    <li>
        <span class="NAtime time">@lilytime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Cabaret Velour [LILY] -
        <a href="https://twitch.tv/lilyvelour">twitch.tv/lilyvelour</a> - 
        <a href="https://discord.gg/lilyvelour">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@sgnaSat.ToString("MM/dd/yy H:mm:ss zzz")</span> - Skein Gang [SG] -
        <a href="https://discord.gg/skeingang">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@uL2.ToString("MM/dd/yy H:mm:ss zzz")</span> - Underground Legends [uL] -
        <a href="https://discord.gg/undergroundlegends">Discord</a> -
        <a href="https://undergroundlegends.gg">undergroundlegends.gg</a>
    </li>
    <li>
        <span class="NAtime time">@startime.ToString("MM/dd/yy H:mm:ss zzz")</span> - The Astral Sanctuary [STAR] - 
        <a href="https://discord.gg/Kcf62kejz6">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@sgna.ToString("MM/dd/yy H:mm:ss zzz")</span> - Skein Gang [SG] -
        <a href="https://discord.gg/skeingang">Discord</a>
    </li>
    <li>
        During the week
        <ul>
            <li>
                <span class="NAAnytime time">@godlytime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Godlyarms [GDAM], they do CMs in parts throughout the week.
            </li>
        </ul>
    </li>
</ul>

@code{
    //2025,6,8 is sunday
    DateTime darenstime =   new DateTime(2025,6,9,15,00,00,DateTimeKind.Utc);
    DateTime darenstime2 =   new DateTime(2025,6,10,15,00,00,DateTimeKind.Utc);
    DateTime cctime2 =      new DateTime(2025,6,10,01,00,00,DateTimeKind.Utc);
    DateTime ownlytime =    new DateTime(2025,6,9,21,30,00,DateTimeKind.Utc);
    DateTime hellatime =    new DateTime(2025,6,12,02,00,00,DateTimeKind.Utc);
    DateTime sastime =      new DateTime(2025,6,12,20,00,00,DateTimeKind.Utc);
    DateTime slpytime =     new DateTime(2025,6,14,01,00,00,DateTimeKind.Utc);
    DateTime cctime =       new DateTime(2025,6,14,18,00,00,DateTimeKind.Utc);
    DateTime lilytime =     new DateTime(2025,6,14,21,00,00,DateTimeKind.Utc);
    DateTime lilytime2 =    new DateTime(2025,6,10,21,00,00,DateTimeKind.Utc);
    DateTime startime =     new DateTime(2025,6,8,22,00,00,DateTimeKind.Utc);
    DateTime godlytime =    new DateTime(2025,6,7,13,00,00,DateTimeKind.Utc);
    DateTime cofetime1 =    new DateTime(2025,6,11,05,00,00,DateTimeKind.Utc);
    DateTime cofetime2 =    new DateTime(2025,6,13,05,00,00,DateTimeKind.Utc);
    DateTime sgna =         new DateTime(2025,6,9,1,00,00,DateTimeKind.Utc);
    DateTime sgnaSat =         new DateTime(2025,6,8,3,00,00,DateTimeKind.Utc);
    DateTime uL1 =          new DateTime(2025,10,4,20,00,00, DateTimeKind.Utc); //sat
    DateTime uL2 =          new DateTime(2025,10,5,17,00,00, DateTimeKind.Utc); //sun
}

<script>

    var times = document.getElementsByClassName("NAtime");
    for(var time of times){
        //get the date
        let d = new Date(time.innerText);
        //convert the time
        time.innerText = d.toLocaleString([], {
            hour:'numeric',
            minute:'2-digit'
        });

        //get the day
        var listname = '#NA'+ d.toLocaleString('en-US',{weekday:'long'});
        //move to the correct day
        document.querySelector(listname).append(time.parentElement);
    }


    var anytimes = document.getElementsByClassName("NAAnytime");
    for(var any of anytimes){
        //convert the time
        any.innerText = new Date(any.innerText).toLocaleString([], {
            hour:'numeric',
            minute:'2-digit'
        });
    }
</script>
