@rendermode InteractiveServer
<ul>
    <li>
        Monday
        <ul id="NAMonday"></ul>
    </li>
    <li>
        Tuesday
        <ul id="NATuesday"></ul>
    </li>
    <li>
        Wednesday
        <ul id="NAWednesday"></ul>
    </li>
    <li>
        Thursday
        <ul id="NAThursday"></ul>
    </li>
    <li>
        Friday
        <ul id="NAFriday"></ul>
    </li>
    <li>
        Saturday
        <ul id="NASaturday"></ul>
    </li>
    <li>
        Sunday
        <ul id="NASunday"></ul>
    </li>
    <li>
        <span class="NAtime time">@darenstime.ToString("MM/dd/yy H:mm:ss zzz")</span> - DarensWithS - 
        <a href="https://twitch.tv/DarensWithS">twitch.tv/DarensWithS</a>
    </li>
    <li>
        <span class="NAtime time">@ownlytime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Ownly [FUN] - 
        <a href="https://discord.gg/vQ5asNhZYB">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@cctime2.ToString("MM/dd/yy H:mm:ss zzz")</span> - Convergence Corp [CC] - 
        <a href="https://discord.gg/HyVZqAuAQ2">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@darenstime2.ToString("MM/dd/yy H:mm:ss zzz")</span> - DarensWithS - 
        <a href="https://twitch.tv/DarensWithS">twitch.tv/DarensWithS</a>
    </li>
    <li>
        <span class="NAtime time">@lilytime2.ToString("MM/dd/yy H:mm:ss zzz")</span> - Cabaret Velour [LILY] -
        <a href="https://twitch.tv/lilyvelour">twitch.tv/lilyvelour</a> - 
        <a href="https://discord.gg/lilyvelour">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@cofetime1.ToString("MM/dd/yy H:mm:ss zzz")</span> - We Fight Sleep [COFE] -
        <a href="https://discord.gg/tS8D48HFAJ">Discord</a> -
        <a href="https://twitch.tv/softbreadx">twitch.tv/softbreadx</a>
    </li>
    <li>
        <span class="NAtime time">@sastime.ToString("MM/dd/yy H:mm:ss zzz")</span> - The Silverwastes Anonymous [SAS] - 
        <a href="https://twitch.tv/jmdhouse05">twitch.tv/jmdhouse05</a> - 
        <a href="https://discord.gg/sasgw2">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@startime.ToString("MM/dd/yy H:mm:ss zzz")</span> - The Astral Sanctuary [STAR] - 
        <a href="https://discord.gg/astralsanctuary">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@hellatime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Unfit Heroes Heroing Heroically [UHHH] - Hella Crates
    </li>
    <li>
        <span class="NAtime time">@cofetime2.ToString("MM/dd/yy H:mm:ss zzz")</span> - We Fight Sleep [COFE] -
        <a href="https://discord.gg/tS8D48HFAJ">Discord</a> -
        <a href="https://twitch.tv/softbreadx">twitch.tv/softbreadx</a>
    </li>
    <li>
        <span class="NAtime time">@slpytime.ToString("MM/dd/yy H:mm:ss zzz")</span> - The Sleepiest Warriors [SLPY] - 
        <a href="https://twitch.tv/projektdyad">twitch.tv/projektdyad</a> - 
        <a href="https://projektdyad.com">projektdyad.com</a>
    </li>
    <li>
        <span class="NAtime time">@cctime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Convergence Corp [CC] - 
        <a href="https://discord.gg/HyVZqAuAQ2">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@uL1.ToString("MM/dd/yy H:mm:ss zzz")</span> - Underground Legends [uL] -
        <a href="https://discord.gg/undergroundlegends">Discord</a> -
        <a href="https://undergroundlegends.gg">undergroundlegends.gg</a>
    </li>
    <li>
        <span class="NAtime time">@lilytime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Cabaret Velour [LILY] -
        <a href="https://twitch.tv/lilyvelour">twitch.tv/lilyvelour</a> - 
        <a href="https://discord.gg/lilyvelour">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@sgnaSat.ToString("MM/dd/yy H:mm:ss zzz")</span> - Skein Gang [SG] -
        <a href="https://discord.gg/skeingang">Discord</a>
    </li>
    <li>
        <span class="NAtime time">@uL2.ToString("MM/dd/yy H:mm:ss zzz")</span> - Underground Legends [uL] -
        <a href="https://discord.gg/undergroundlegends">Discord</a> -
        <a href="https://undergroundlegends.gg">undergroundlegends.gg</a>
    </li>

    <li>
        <span class="NAtime time">@sgna.ToString("MM/dd/yy H:mm:ss zzz")</span> - Skein Gang [SG] -
        <a href="https://discord.gg/skeingang">Discord</a>
    </li>
    <li>
        During the week
        <ul>
            <li>
                <span class="NAAnytime time">@godlytime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Godlyarms [GDAM], they do CMs in parts throughout the week.
            </li>
        </ul>
    </li>
</ul>

@code{
    //2025,6,8 is sunday
    DateTimeOffset darenstime =     new DateTimeOffset(2025,11,10,11,00,00,TimeSpan.FromHours(-4));
    DateTimeOffset darenstime2 =    new DateTimeOffset(2025,11,11,11,00,00,TimeSpan.FromHours(-4));
    DateTimeOffset cctime2 =        new DateTimeOffset(2025,11,10,20,00,00,TimeSpan.FromHours(-6));
    DateTimeOffset ownlytime =      new DateTimeOffset(2025,11,10,18,00,00,TimeSpan.FromHours(-5));
    DateTimeOffset hellatime =      new DateTimeOffset(2025,11,06,hour: 22,00,00,TimeSpan.FromHours(-5));
    DateTimeOffset sastime =        new DateTimeOffset(2025,11,13,16,00,00,TimeSpan.FromHours(-5));
    DateTimeOffset slpytime =       new DateTimeOffset(2025,11,14,19,00,00,TimeSpan.FromHours(-7));
    DateTimeOffset cctime =         new DateTimeOffset(2025,11,15,13,00,00,TimeSpan.FromHours(-6));
    DateTimeOffset lilytime =       new DateTimeOffset(2025,11,15,16,00,00,TimeSpan.FromHours(-6));
    DateTimeOffset lilytime2 =      new DateTimeOffset(2025,11,11,16,00,00,TimeSpan.FromHours(-6));
    DateTimeOffset startime =       new DateTimeOffset(2025,11,13,20,30,00,TimeSpan.FromHours(-5));
    DateTimeOffset godlytime =      new DateTimeOffset(2025,11,10,08,00,00,TimeSpan.FromHours(-6));
    DateTimeOffset cofetime1 =      new DateTimeOffset(2025,11,11,22,00,00,TimeSpan.FromHours(-8));
    DateTimeOffset cofetime2 =      new DateTimeOffset(2025,11,13,22,00,00,TimeSpan.FromHours(-8));
    DateTimeOffset sgna =           new DateTimeOffset(2025,11,12,hour: 21,00,00,TimeSpan.FromHours(-5));
    DateTimeOffset sgnaSat =        new DateTimeOffset(2025,11,day: 15,23,00,00,TimeSpan.FromHours(-5));
    DateTimeOffset uL1 =            new DateTimeOffset(2025,11,15,16,00,00, TimeSpan.FromHours(-5)); //sat
    DateTimeOffset uL2 =             new DateTimeOffset(2025,11,16,13,00,00, TimeSpan.FromHours(-5)); //sun
}

<script>

    var times = document.getElementsByClassName("NAtime");
    for(var time of times){
        //get the date
        let d = new Date(time.innerText);
        //convert the time
        time.innerText = d.toLocaleString([], {
            hour:'numeric',
            minute:'2-digit'
        });

        //get the day
        var listname = '#NA'+ d.toLocaleString('en-US',{weekday:'long'});
        //move to the correct day
        document.querySelector(listname).append(time.parentElement);
    }


    var anytimes = document.getElementsByClassName("NAAnytime");
    for(var any of anytimes){
        //convert the time
        any.innerText = new Date(any.innerText).toLocaleString([], {
            hour:'numeric',
            minute:'2-digit'
        });
    }
</script>
